<!-- Portfolio Grid Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <!-- <div class="col-md-12 col-sm-12">
                <p>Welcome to codemotive, a leading provider of custom software development solutions using .NET. codemotive has a track record of delivering high-quality projects for clients in a variety of industries.</p>

                <p>As a .NET consultancy, we specialize in building applications using technologies such as ASP.NET, C#, and the .NET Core framework. Our developers have a deep understanding of the .NET ecosystem and are skilled at leveraging its powerful tools and libraries to create robust, scalable, and reliable software.</p>
                
                <p>At codemotive, we pride ourselves on our ability to understand our clients' needs and deliver customized solutions that meet their specific requirements. Whether you need a new web application, microservice, a system integration, or any other type of software, we have the expertise and resources to help you succeed.</p>
                
                <p>Thank you for considering codemotive for your software development needs. We look forward to the opportunity to work with you and help bring your ideas to life.</p>
            </div> -->
        <br />
        <div>
            <p style="font-size: 1.2em;">Welcome to codemotive, a premier .NET consultancy firm. Our experienced developers specializes in
                .NET technologies, including ASP.NET, C#, .NET Core.</p>

            <p style="font-size: 1.2em;">With 12 years of experience in the industry, we have a track record of delivering high-quality software
                solutions to clients in a variety of industries. Our process is collaborative, and we work closely with
                our clients to understand their unique needs and challenges.</p>

            <p style="font-size: 1.2em;">In addition to our technical expertise, we pride ourselves on our customer service. We are dedicated to
                building long-term partnerships with our clients and are always available to offer support and guidance.
            </p>

            <p style="font-size: 1.2em;">If you're in need of a reliable and skilled development team, look no further. Contact us today to learn
                more about how we can help bring your project to life.</p>
        </div>

    </div>
</section>