<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img style="height:80px;" src="img/logos/nimble.webp" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <img style="height:80px;" src="img/logos/dfe.svg.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img style="height:100px;" src="img/logos/dxw.png" class="img-responsive img-centered" alt="">
            </div>
        </div>
    </div>
</aside>